@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Inter', sans-serif;
  margin: 0;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
}



  #__next,
  main {
    min-height: 100vh;
    min-height: -webkit-fill-available;
    height: 100%;
  }


button:focus {
  outline: none;
}

.bg-djigo {
  background-color: #020617;
  opacity: 1;
  background-image: linear-gradient(30deg, #101010 12%, transparent 12.5%, transparent 87%, #101010 87.5%, #101010), linear-gradient(150deg, #101010 12%, transparent 12.5%, transparent 87%, #101010 87.5%, #101010), linear-gradient(30deg, #101010 12%, transparent 12.5%, transparent 87%, #101010 87.5%, #101010), linear-gradient(150deg, #101010 12%, transparent 12.5%, transparent 87%, #101010 87.5%, #101010), linear-gradient(60deg, #10101077 25%, transparent 25.5%, transparent 75%, #10101077 75%, #10101077), linear-gradient(60deg, #10101077 25%, transparent 25.5%, transparent 75%, #10101077 75%, #10101077);
  background-size: 22px 39px;
  background-position: 0 0, 0 0, 11px 19px, 11px 19px, 0 0, 11px 19px;
}

button:has(.hidden){
display: none;
}

.default-content{

}

.default-content h3{
font-size: 20px;
margin-bottom: 10px;
margin-top: 8px;
font-weight: bold;
}

.bold{font-weight: bold;}

.default-content p{
font-size: 20px;
}

.default-content p:first-of-type{
}


.default-content a{
  color: rgb(234 179 8);;
  text-decoration: underline;
  white-space:nowrap;
  margin-bottom: 10px;
  margin-bottom: 10px;
  display: inline-block;

}

.default-content span{
  white-space:nowrap;

}

.previously{
  margin-bottom: 0px;
}
.previously span:first-of-type{
margin-left: 10px;
}

.previously a{
  font-size: 14px;
  display: inline-block;
  margin: 0;
}
.previously span{
  margin-left: 2px;
  margin-bottom: 5px;
  display: inline-block;
}

h3.previously-title{
  margin-top: 30px;
  font-size: 20px;
}

.pill:last-of-type{
  margin: 0;
}